<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MotorMart</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href='{% static "./css/bootstrap.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/font-awesome.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/elegant-icons.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/nice-select.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/magnific-popup.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/jquery-ui.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/owl.carousel.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/slicknav.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/style.css" %}' type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./"><img src="{% static "./img/logo-new.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="./">Home</a></li>
                                <li><a href="{% url 'annunci:annunci_list' %}">Annunci</a></li>
                                <li><a href="#">Profilo</a></li>
                            </ul>
                        </nav>

                        {% if user.is_authenticated  %}
                            <div class="header__nav__widget">
                                <form id="logout-form" method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button class="primary-btn">Logout</button>
                                </form>
                                <form method="get" action="{% url 'annunci:create' %}">
                                    <button class="primary-btn">Crea annuncio</button>
                                </form>
                            </div>

                        {% else %}
                            <div class="header__nav__widget">
                                <a href="{% url 'login' %}" class="primary-btn">Login</a>
                                <a href="{% url 'register' %}" class="primary-btn">Registrazione</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="{% static "./img/hero-bg-created.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero__text">
                        <div class="hero__text__title">
                            <span>Trova la tua auto ideale</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="hero__tab">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="hero__tab__form">
                                    <form method="POST" action="{% url 'annunci:search' %}">
                                        {% csrf_token %}
                                        <div class="select-list">
                                            <div class="select-list-item">
                                                <p>Anno</p>
                                                <select name="anno">
                                                    <option data-display=" ">Anno</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                </select>
                                            </div>
                                            <div class="select-list-item">
                                                <p>Marchio</p>
                                                <select name="marchio">
                                                    <option data-display=" ">Marchio</option>
                                                    <option value="Acura">Acura</option>
                                                    <option value="Audi">Audi</option>
                                                    <option value="Bentley">Bentley</option>
                                                    <option value="BMW">BMW</option>
                                                    <option value="Bugatti">Bugatti</option>
                                                </select>
                                            </div>
                                            <div class="select-list-item">
                                                <p>Modello</p>
                                                <select name="modello">
                                                    <option data-display=" ">Modello</option>
                                                    <option value="Q3">Q3</option>
                                                    <option value="A4">A4</option>
                                                    <option value="AVENTADOR">AVENTADOR</option>
                                                </select>
                                            </div>
                                            <div class="select-list-item">
                                                <p>Chilometraggio</p>
                                                <select name="chilometraggio">
                                                    <option data-display=" ">Chilometraggio</option>
                                                    <option value="27">27</option>
                                                    <option value="25">25</option>
                                                    <option value="15">15</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="car-price">
                                            <p>Prezzo:</p>
                                            <div class="price-range-wrap">
                                                <div class="price-range"></div>
                                                <div class="range-slider">
                                                    <div class="price-input">
                                                        <input type="text" id="amount" name="prezzo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="site-btn">Cerca</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Le nostre auto</span>
                        <h2>Le ultime aggiunte</h2>
                    </div>
                    
                </div>
            </div>
            <div class="row car-filter">

                <div class="col-lg-3 col-md-4 col-sm-6 mix">

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix">

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix">

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix">

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>

                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img src="{% static "./img/cars/car-1.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-8.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-6.jpg" %}" alt="">
                            <img src="{% static "./img/cars/car-3.jpg" %}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date">2016</div>
                                <h5><a href="#">Porsche cayenne turbo s</a></h5>
                                <ul>
                                    <li><span>35,000</span> mi</li>
                                    <li>Auto</li>
                                    <li><span>700</span> hp</li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6>$218<span>/Month</span></h6>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </section>
    <!-- Car Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static "./img/footer-bg.jpg" %}">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static "./js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "./js/bootstrap.min.js" %}"></script>
    <script src="{% static "./js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "./js/jquery-ui.min.js" %}"></script>
    <script src="{% static "./js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "./js/mixitup.min.js" %}"></script>
    <script src="{% static "./js/jquery.slicknav.js" %}"></script>
    <script src="{% static "./js/owl.carousel.min.js" %}"></script>
    <script src="{% static "./js/main.js" %}"></script>
</body>

</html>