<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MotorMart - Annunci</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href='{% static "./css/bootstrap.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/font-awesome.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/elegant-icons.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/nice-select.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/magnific-popup.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/jquery-ui.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/owl.carousel.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/slicknav.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/style.css" %}' type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><img src="{% static "./img/logo-new.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="active"><a href="./">Annunci</a></li>
                                <li><a href="#">Profilo</a></li>
                             </ul>
                        </nav>

                        {% if user.is_authenticated  %}
                            <div class="header__nav__widget">
                                <form id="logout-form" method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="primary-btn">Logout</button>
                                </form>
                                <a href="#" class="primary-btn">Crea annuncio</a>
                            </div>

                        {% else %}
                            <div class="header__nav__widget">
                                <a href="{% url 'login' %}" class="primary-btn">Login</a>
                                <a href="{% url 'register' %}" class="primary-btn">Registrazione</a>
                            </div>
                        {% endif %}

                   </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="car__sidebar">
                        
                        <div class="car__filter">
                            <h5>Filtri</h5>
                            <form action="#">
                                <select>
                                    <option data-display="Marca">Seleziona marca</option>
                                    <option value="">Acura</option>
                                    <option value="">Audi</option>
                                    <option value="">Bentley</option>
                                    <option value="">BMW</option>
                                    <option value="">Bugatti</option>
                                </select>
                                <select>
                                    <option data-display="Modello">Seleziona modello</option>
                                    <option value="">Q3</option>
                                    <option value="">A4 </option>
                                    <option value="">AVENTADOR</option>
                                </select>
                                <select>
                                    <option value="">Condition</option>
                                    <option value="">First Hand</option>
                                    <option value="">Second Hand</option>
                                </select>
                                <select>
                                    <option value="">Cambio</option>
                                    <option value="">Manuale</option>
                                    <option value="">Automatico</option>
                                </select>
                                <select>
                                    <option value="">Chilometraggio</option>
                                    <option value="">27</option>
                                    <option value="">20</option>
                                    <option value="">15</option>
                                    <option value="">10</option>
                                </select>
                                <select>
                                    <option value="">Colore</option>
                                    <option value="">Red</option>
                                    <option value="">Blue</option>
                                    <option value="">Black</option>
                                    <option value="">Yellow</option>
                                </select>
                                <div class="filter-price">
                                    <p>Price:</p>
                                    <div class="price-range-wrap">
                                        <div class="filter-price-range"></div>
                                        <div class="range-slider">
                                            <div class="price-input">
                                                <input type="text" id="filterAmount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="car__filter__btn">
                                    <button type="submit" class="site-btn">Reset FIlter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    
                    <div class="row">

                        
                        {% for a in object_list %}
                            <div class="col-lg-4 col-md-4">
                                <div class="car__item">
                                    <div class="car__item__pic__slider owl-carousel">
                                        <img src="{{ MEDIA_URL }}{{ a.immagine }}" alt="">
                                    </div>
                                    <div class="car__item__text">
                                        <div class="car__item__text__inner">
                                            <div class="label-date">{{ a.anno }}</div>
                                            {% if user.is_authenticated  %}
                                                <h5><a href="{% url 'annunci:details' a.pk %}">{{ a.marca }} - {{ a.modello }}</a></h5>

                                            {% else %}
                                                <h5><a href="#">{{ a.marca }} - {{ a.modello }}</a></h5>
                                            {% endif %}
                                            
                                            <ul>
                                                <li><span>{{ a.chilometraggio }}</span> km</li>
                                                <li><span>{{ a.cambio }}</span></li>
                                                <li><span>{{ a.potenza }}</span> cv</li>
                                            </ul>
                                        </div>
                                        <div class="car__item__price">
                                            <span class="car-option">Prezzo</span>
                                            <h6>€ {{ a.prezzo }}</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Car Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static "./img/footer-bg.jpg" %}">
        <div class="container">
            <div class="row">
                
                 <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static "./js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "./js/bootstrap.min.js" %}"></script>
    <script src="{% static "./js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "./js/jquery-ui.min.js" %}"></script>
    <script src="{% static "./js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "./js/mixitup.min.js" %}"></script>
    <script src="{% static "./js/jquery.slicknav.js" %}"></script>
    <script src="{% static "./js/owl.carousel.min.js" %}"></script>
    <script src="{% static "./js/main.js" %}"></script>
</body>

</html>