<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MotorMart - Annunci</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href='{% static "./css/bootstrap.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/font-awesome.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/elegant-icons.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/nice-select.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/magnific-popup.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/jquery-ui.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/owl.carousel.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/slicknav.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "./css/style.css" %}' type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><img src="{% static "./img/logo-new.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="active"><a href="./">Annunci</a></li>
                                <li><a href="#">Profilo</a></li>
                             </ul>
                        </nav>

                        {% if user.is_authenticated  %}
                            <div class="header__nav__widget">
                                <form id="logout-form" method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="primary-btn">Logout</button>
                                </form>
                                <a href="#" class="primary-btn">Crea annuncio</a>
                            </div>

                        {% else %}
                            <div class="header__nav__widget">
                                <a href="{% url 'login' %}" class="primary-btn">Login</a>
                                <a href="{% url 'register' %}" class="primary-btn">Registrazione</a>
                            </div>
                        {% endif %}

                   </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="car__sidebar">
                        
                        <div class="car__filter">
                            <h5>Filtri</h5>
                            <form method="POST" action="{% url 'annunci:search' %}">
                                {% csrf_token %}
                                <div class="select-list">
                                    <div class="select-list-item">
                                        <select >
                                            <option data-display="Anno">Anno</option>
                                            {% for anno in anni %}
                                                <option value="{{anno}}">{{anno}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="select-list-item">
                                        <select>
                                            <option data-display="Marchio">Marchio</option>
                                            {% for marca in marche %}
                                                <option value="{{marca}}">{{marca}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="select-list-item">
                                        <select>
                                            <option data-display="Modello">Modello</option>
                                            {% for modello in modelli %}
                                                <option value="{{modello}}">{{modello}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="select-list-item">
                                        <select>
                                            <option data-display="Chilometraggio">Chilometraggio</option>
                                            <option value="0-25000">0-25000</option>
                                            <option value="25001-50000">25001-50000</option>
                                            <option value="50001-75000">50001-75000</option>
                                            <option value="75001-100000">75001-100000</option>
                                            <option value="100001">100000+</option>
                                        </select>
                                    </div>
                                    <div class="select-list-item">
                                        <select>
                                            <option data-display="Prezzo">Prezzo</option>
                                            <option value="0-25000">€ &lt;25000</option>
                                            <option value="25001-50000">€ 25001 - € 50000</option>
                                            <option value="50001-75000">€ 50001 - € 75000</option>
                                            <option value="75001-100000">€ 75001 - € 100000</option>
                                            <option value="100001">€ 100000+</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <button type="submit" class="site-btn">Aggiorna</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    
                    <div class="row">

                        
                        {% for a in object_list %}
                            <div class="col-lg-4 col-md-4">
                                <div class="car__item">
                                    <div class="car__item__pic__slider owl-carousel">
                                        <img src="{{ MEDIA_URL }}{{ a.immagine }}" alt="">
                                    </div>
                                    <div class="car__item__text">
                                        <div class="car__item__text__inner">
                                            <div class="label-date">{{ a.anno }}</div>
                                            {% if user.is_authenticated  %}
                                                <h5><a href="{% url 'annunci:details' a.pk %}">{{ a.marca }} - {{ a.modello }}</a></h5>

                                            {% else %}
                                                <h5><a href="#">{{ a.marca }} - {{ a.modello }}</a></h5>
                                            {% endif %}
                                            
                                            <ul>
                                                <li><span>{{ a.chilometraggio }}</span> km</li>
                                                <li><span>{{ a.cambio }}</span></li>
                                                <li><span>{{ a.potenza }}</span> cv</li>
                                            </ul>
                                        </div>
                                        <div class="car__item__price">
                                            <span class="car-option">Prezzo</span>
                                            <h6>€ {{ a.prezzo }}</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Car Section End -->

    <!-- Js Plugins -->
    <script src="{% static "./js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "./js/bootstrap.min.js" %}"></script>
    <script src="{% static "./js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "./js/jquery-ui.min.js" %}"></script>
    <script src="{% static "./js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "./js/mixitup.min.js" %}"></script>
    <script src="{% static "./js/jquery.slicknav.js" %}"></script>
    <script src="{% static "./js/owl.carousel.min.js" %}"></script>
    <script src="{% static "./js/main.js" %}"></script>
</body>

</html>