<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Chat</h1>
    <div id="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.sender.username }}:</strong> {{ message.content }}<em> {{ message.timestamp }}</em> </p>
        {% endfor %}
    </div>
    <form id="message-form" method="post">
        {% csrf_token %}
        <textarea name="content" id="message-input"></textarea>
        <button type="submit">Send</button>
    </form>
    <script>
        const chatId = {{ chat.id }};
        const userId = {{ request.user.id }};
        const wsUrl = `ws://127.0.0.1:8000/ws/chat/${chatId}/`;
        console.log(wsUrl);
        const chatSocket = new WebSocket(wsUrl);

        chatSocket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var chatLog = document.querySelector('#chat-box');
            var messageElement = document.createElement('p');
            messageElement.innerHTML = `<strong>${data.sender}:</strong> ${data.message} <em>${data.timestamp}</em>`;
            chatLog.appendChild(messageElement);
        };

        document.querySelector('#message-form').onsubmit = function(event) {
            event.preventDefault();
            var messageInput = document.querySelector('#message-input');
            var message = messageInput.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'user_id': userId
            }));

            messageInput.value = '';
        };
    </script>
</body>
</html>
